<div class="custom-body">
    <section class="hero text-center py-5 main-section">
        <div class="container">
            <h1>Welcome to DataVision</h1>
            <p class="lead">Your go-to solution for real-time data analysis and historical insights</p>
            <a class="btn btn-lg mt-3 custom-btn" routerLink="graph">View Historical Data</a>
        </div>
    </section>
    <div>
        <div class="features py-5 d-flex sec-section">

            <div class="text-center custom-cards sec-card">
                <i class="fas fa-chart-line fa-3x mb-3"></i>
                <h4>Real-Time Data</h4>
                <p>Access and analyze data as it happens, ensuring you stay ahead of the curve.</p>
            </div>
            <div class="text-center custom-cards sec-card">
                <i class="fas fa-history fa-3x mb-3"></i>
                <h4>Historical Insights</h4>
                <p>Fetch and visualize historical data to uncover trends and patterns over time.</p>
            </div>
            <div class="text-center custom-cards sec-card">
                <i class="fas fa-cogs fa-3x mb-3"></i>
                <h4>Customizable Graphs</h4>
                <p>Create custom graphs to visualize data in a way that suits your needs.</p>
            </div>

        </div>
    </div>
</div>